/*------------------------------------*\
  #USE FILES
\*------------------------------------*/

@use '../sass/utils/variables';

/*------------------------------------*\
  #SHARED
\*------------------------------------*/

.section_about,
.section_project,
.section_contact {
  margin: 5rem 0;
  @media screen and (min-width: 64em) {
    margin: 10rem 0;
  }
}
.section_about-description h2,
.section_project h2,
.section_contact h2 {
  margin-bottom: 2rem;
}

/*------------------------------------*\
  #SECTION HERO
\*------------------------------------*/

.section_hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.section_hero-wrapper {
  display: flex;
  flex-direction: column-reverse;
  @media screen and (min-width: 48em) {
    flex-direction: row;
    align-items: center;
  }
}
.section_hero-baseline,
.section_hero-image {
  @media screen and (min-width: 48em) {
    flex: 1;
  }
}
.section_hero-image {
  transform: translateY(-200px);
  opacity: 0;
}
.section_hero-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
}
.hero_links-social {
  display: flex;
  flex-direction: row;
}
.hero_links-social a:hover,
.list_item-links a:hover {
  color: variables.$primary;
}
.hero_links-social li:not(:last-child) {
  margin-right: 24px;
}
.hero_baseline-title {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(100px);
}
.hero_baseline-title:not(.greeting) {
  color: var(--text-color);
  font-size: clamp(0.875rem, 3vw, 1.875rem);
}
.hero_baseline-title .greeting {
  display: block;
  font-size: clamp(2rem, 3vw, 4rem);
  background-image: linear-gradient(
    90deg,
    variables.$primary-lighter -6.11%,
    variables.$primary-darker 106.55%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.baseline_title-button {
  opacity: 0;

  @media screen and (min-width: 48em) {
    width: 320px;
  }
}
.aside_nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px;
}
.aside_nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*------------------------------------*\
  #SECTION ABOUT
\*------------------------------------*/

.section_about {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  @media screen and (min-width: 48em) {
    flex-direction: row-reverse;
  }
}
.section_about-description,
.section_about-image {
  flex: 1;
}
.section_about-description p:first-of-type {
  margin-bottom: 1rem;
}
.section_about-image img {
  margin: auto;
}

/*------------------------------------*\
  #SECTION PROJECT
\*------------------------------------*/

.section_project-list {
  margin-top: 2.5rem;
  @media screen and (min-width: 48em) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
.project_list-item picture {
  overflow: hidden;
}
.project_list-item picture img {
  transition: transform 1000ms ease-in;
}
.project_list-item {
  margin-bottom: 2rem;
}
.project_list-item picture:hover img {
  transform: scale(1.1);
  transition: transform 1000ms ease-in;
}
.list_item-details {
  margin: 1rem 0;
  font-size: 0.75rem;
}
.list_item-details i {
  vertical-align: middle;
}
.list_item-description {
  margin: 1rem 0;
}
.list_item-footer,
.item_footer-tag,
.list_item-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list_item-footer {
  justify-content: space-between;
}
.list_item-links {
  gap: 0.5rem;
}
.item_footer-tag {
  gap: 1rem;
  font-size: 0.75rem;
  font-family: contentSemiBold;
}
.item_footer-tag .tag {
  color: var(--text-color);
}

/*------------------------------------*\
  #SECTION CONTACT
\*------------------------------------*/

.section_contact-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media screen and (min-width: 57.5em) {
    flex-direction: row;
  }
}
.contact_content-text {
  flex: 1;
}
.contact_content-img .image-box {
  transform: rotate(-15deg);
  animation: smoothRotate 5000ms ease-in infinite alternate;
}

/*------------------------------------*\
  #ANIMATIONS
\*------------------------------------*/

@keyframes smoothRotate {
  to {
    transform: rotate(15deg);
  }
}
